<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>안녕하세요</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="{{url_for('static', filename='js/main-js.js')}}"></script>
</head>
<body>
    <div id="container">
   {% include 'header.html'%}
    <section id="main">
        <h2> 안녕하세요!</h2>
        <div class="img1">
        <img  src="./static/images/prod1.jpg" alt="">
            <p id="demo"></p>
        </div>
    </section>
       {% include 'footer.html'%}

    </div>
    <script src="{{url_for('static',filename='main.js')}}">

    </script>

</body>
</html>