<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello~</title>
    <link rel="stylesheet" href="{% static 'board/css/bootstrap.css'%}">
    <link rel="stylesheet" href="{% static 'board/css/style.css'%}">
    <script src="{% static 'board/js/bootstrap.js' %}"></script>
</head>
<body>
{% include 'navbar.html' %}
<!--  본문 내용 start-->
{% block content %}

{% endblock %}
<!--본문 내용 end-->
</body>
</html>