
.menu{width: 400px;
    margin: 10px 20px 10px 50px;

}

ul li{ 
    display: inline-block;
    list-style: none;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;

    }
    ul li:nth-child(1) a:hover{
        color: green;
        font-weight: bold;
    }
    ul li:nth-child(2) a:hover{
        color: black;
        font-weight: bold;
    }
    ul li:nth-child(3) a:hover{
        color: pink;
        font-weight: bold;
    }
ul li a{text-decoration: none;
    padding:  10px 0px;}

.box{
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    margin-left: 50px;

}
