*{margin: 0; padding: 0;}
img{width: 500px;border-radius: 50px;}
.container{width: 500px; margin: 0 auto; position: relative;}
.btn_show{position: absolute; bottom: 20px; left: 20px;}
.text{width: 400px; display: none; padding: 5px;}
.text h4{margin: 16px 0;}
.text p{line-height: 1.7em;}
#picture img{width: 800px; }