{% extends 'base.html'%}
{% block content %}


    <div class="container my-3">

    <section id="question_list">
        <h2 class="border-bottom py-2">질문목록</h2>
        <table class="table">
            <thead>
            <tr class="table-danger">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
                <th>글쓴이</th>
            </tr>
            </thead>
            <tbody>
            {% if question_list %}
              {% for question in question_list reversed%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'board:detail' question.id %}">{{question.subject}}</a></td>
                <td>{{question.create_date}}</td>
                <td>{{question.author}}</td>

            </tr>
                {% endfor %}
             {% else %}
        <p>질문이 없습니다.</p>
            {% endif %}
            </tbody>
        </table>

 <a href="{% url 'board:question_create'%}"><button class="btn btn-primary">질문등록</button></a>
    </section>
    </div>






{% endblock %}