@charset "UTF-8";

/* 공통 스타일 */
*{margin: 0; padding: 0;}
#container{width: 90% ; height:90%; margin: 0 auto;}
a{text-decoration: none;}
ul li{list-style: none;}

button{border-radius: 5px;}


/* 인덱스 스타일 */
h3{text-align: center;}
#main{margin: 20px auto; text-align: center;}
#main .main_img{margin: 20px auto;}
#main .main_img img{border-radius:5px;}

/* memberlist 스타일 */
#memberlist{width: 650px; margin: 40px auto;}
#memberlist .Logout{text-align: right; margin-right: 5%}
#memberlist table{width: 650px; margin: 15px auto;}
#memberlist table, #memberlist th, #memberlist td{border:1px solid #ccc; 
		border-collapse: collapse; text-align: center;}
#memberlist table th, #memberlist td{padding:10px;}
#memberlist table thead{background-color: #eee }
#memberlist table td:nth-of-type(6){width: 50px}
#memberlist table button{width: 50px ; height: 30px}

/* register 스타일 */
/* register 스타일 */
#register{width: 400px; margin: 30px auto 100px;}
#register form{margin: 30px auto;}
#register form fieldset{padding-bottom: 20px;}
#register form ul li{margin: 30px 20px;}
#register form label{width: 120px; float: left; padding-left: 10px;
    margin-right: 10px;}
#register form input[type='text']{width: 210px; height: 25px}
#register form input[type='password']{width: 210px; height: 25px}
#register form li label.radio{width: 50px; }
#register form .button{width: 400px; height: 50px; text-align: center;}
#register form input[type='submit']{width: 80px; height: 30px; margin-top: 30px;}
#register form input[type='reset']{width: 80px; height: 30px; margin-top: 30px;}

/* header 스타일 */
header{height: 100px; background: #ff8040;}
#logo{float: left; width: 20%; height: 100px; line-height: 100px; text-align: left;}
#logo h1 a{color: #eee; padding-left: 15px; font-size: 1.3em; font-style: italic
}
nav{float: right; width: 70%; height: 100px;}

/* 주메뉴 */
#topMenu{height: 100px; line-height: 100px;}
#topMenu li{float: left; margin: 0 20px;}
#topMenu li a{display: block; padding: 0 20px; color: #eee;}
#topMenu li a:hover{ color: #222;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222;}
#bottomMenu{margin: 10px 10px 10px 20px;}
#bottomMenu li{display: inline-block; margin: 10px 0; padding: 0 10px;
    border-right: 1px solid #ccc;}
#bottomMenu li a{color: #444; font-size: 0.9em;}
#bottomMenu li:last-child{border: none;}


#detail{width: 500px; margin: 30px auto ;}
#detail table{width: 500px; margin: 30px auto 100px;}
#detail table,
#detail td{border: 1px solid #ccc;
    border-collapse: collapse; text-align: center;}
#detail table td{padding: 10px; font-size: 0.9em;}
#detail table input[type='text']{width: 200px; padding: 5px;}
#detail table input[type='password']{width: 200px;padding: 5px; }
#detail table td button{padding: 5px 10px;}




/* login 스타일 */
#login {width: 400px; margin: 30px auto 100px;}
#login form{margin: 30px auto;}
#login form ul li{margin: 30px;}
#login form ul li:nth-of-type(3){text-align: center; margin-left: 0}
#login form label{width: 100px; float: left; padding-left: 10px;}
#login form .button{width: 400px; height: 50px; text-align: center;}
#login form input[type='text'], 
#login input[type='password']{width: 200px; height: 30px;}
#login form input[type='submit']{padding: 10px 15px; margin-top: 10px;}
#login form input[type='button']{padding: 10px 15px; margin-top: 10px;}
#login .error{color: #f00; margin-bottom: 10px;}


/* boardList 스타일 */
#boardlist{width: 650px; margin: 40px auto 100px;}
#boardlist table{width: 650px; margin: 30px auto;border-spacing: 0;}
#boardlist table{border: 1px solid #ccc; text-align: center; border-radius: 10px;  } 
#boardlist th{ text-align: center;} 
#boardlist td{border: 1px solid #ccc; text-align: center; border-radius: 10px;} 
#boardlist table th, #boardlist td{padding: 10px 0; font-size: 0.9em; }
#boardlist table thead{background: #eee; radius: 10px;}
#boardlist table td:nth-of-type(2){text-align: left; padding-left: 10px;}
#boardlist .btnWrite{text-align: right; margin-right: 20px;}
#boardlist button{padding: 10px;}

/* board_reg 스타일 */
#board_reg{width: 550px; margin: 40px auto;}
#board_reg table{width: 550px; margin: 30px auto; border-radius: 10px;}
#board_reg table{ border: 1px solid #ccc; text-align: center; padding:5px;}
#board_reg td{ border-collapse:collapse; text-align: center;}
#board_reg table input[type='text']{width: 520px; height: 25px; padding: 5px; border-radius: 10px;}
#board_reg table textarea{width: 520px; height: 350px; resize: none; padding: 5px;
    line-height: 1.5; font-family: '맑은고딕' ;border-radius: 10px;}
#board_reg table tr:nth-of-type(3) td{text-align: left; padding-left: 10px; }
#board_reg table input[type='submit'], #board_reg input[type='reset']{width: 100px; height: 30px; text-align: center; 
border-radius: 10px;}


/* board_detail 스타일 */
#board_detail{width: 550px; margin: 40px auto 100px;}
#board_detail table{width: 550px; margin: 30px auto; border-collapse: collapse;}
#board_detail table input[type='text']{width: 520px; height: 25px; padding: 5px;}
#board_detail table tr:nth-of-type(3) td{text-align: left; padding-left: 10px;}
#board_detail table textarea{width: 520px; height: 350px; resize: none; padding: 5px;
    line-height: 1.5; font-family: '맑은고딕'}
#board_detail table button[type='button']{width: 80px; height: 30px;}

